/*
    Hide scrollbar
*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../public/inter/Inter-Black.woff") format("woff2"),
         url("../public/inter/Inter-Black.woff") format("woff");
}